<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">

<div layout:fragment="content" class="content container">
  [[${data_history}]]
  <div class="card">
    <blockquote style="margin: 2%"><h1>거래 내역</h1></blockquote>
    <table class="striped centered">
      <thead>
      <tr>
        <th>종목코드</th>
        <th>종목명</th>
        <th>매수/매도</th>
        <th>주문단가</th>
        <th>주문수량</th>
        <th>주문시각</th>
        <th>체결여부</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="row: ${data_history}">
        <td th:each="header: ${header_history}" th:text="${row.get(header)}"></td>
        <!--        <td><a style="color:#D00" th:onclick="delStockOnGroup(this.getAttribute('cno'))" th:cno="${row.get('cno')}"><i class="material-icons text-red">delete</i></a></td>-->
      </tr>
      </tbody>
    </table>
  </div>
</div>

</html>