<!DOCTYPE html>
<html lang="ko"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{default_layout"}>

  <th:block layout:fragment="head">
    <title>Title</title>

    <!--Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Jquery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js" ></script>
    <!-- Materialize CSS -->
    <script type="text/javascript" th:src="@{/javascripts/materialize.min.js}"></script>

    <!--Materialize CSS-->
    <link th:href="@{/css/materialize.min.css}" rel="stylesheet" media="screen,projection"/>
    <!--Custom CSS-->
    <link th:href="@{/css/style.css}" rel="stylesheet"/>

    <!-- Google Chart -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script th:inline="javascript">
        $(document).ready(function(){
          $('.tabs').tabs();
          $('.modal').modal();
          $('.fixed-action-btn').floatingActionButton();
          $('select').formSelect();
          $('.dropdown-trigger').dropdown();
        });

        function maxLengthCheck(obj){
            if(obj.value.length > obj.maxLength)
                obj.value = obj.value.slice(0, obj.maxLength);
        }
    </script>

  </th:block>

  <body>
    <th:block layout:fragment="header" th:include="@{/header}"></th:block>

    <div layout:fragment="content" class="content container">

      <div id="main" class="col s12">
          <div th:replace="~{/fragments :: fragment-fav}"></div>
      </div>

      <div id="board" class="col s12">
          <div th:replace="~{/fragments :: fragment-history}"></div>
<!--        <th:block th:if="${type}=='board'">-->
<!--          <div th:replace="~{/fragments :: fragment-main}"></div>-->
<!--        </th:block>-->
      </div>
      <div id="stock" class="col s12">
          <div th:replace="~{/fragments :: fragment-possessed}"></div>
<!--        <th:block th:if="${type}=='stock'">-->
<!--          <div th:replace="~{/fragments :: fragment-test2}"></div>-->
<!--        </th:block>-->
      </div>
      <div id="holding" class="col s12">
          <div th:replace="~{/fragments :: fragment-market}"></div>
<!--        <th:block th:if="${type}=='holding'">-->
<!--          <div th:replace="~{/fragments :: fragment-test3}"></div>-->
<!--        </th:block>-->
      </div>
      <div id="fav" class="col s12">
<!--        <th:block th:if="${type}=='fav'">-->
          <div th:replace="~{/fragments :: fragment-test4}"></div>
<!--        </th:block>-->
      </div>
    </div>

    <div th:replace="~{/fragments :: fragment-modal-login}"></div>

    <div th:replace="~{/fragments :: fragment-modal-register}"></div>

    <div th:replace="~{/fragments :: fragment-modal-admin}"></div>

    <div th:replace="~{/fragments :: fragment-fab-admin}"></div>
  </body>
</html>